export NGROK_AUTHTOKEN=2Z8GdG9kbxTc81NfWhNA26Xzdc5_2cwd6GizNnyLRdfsKZKor
export NGROK_API_KEY=2ddck8rNquoZdFZrGEU5TjJq7iz_5m2rA7jnaSLmMP7d8iPWd

export NGROK_DOMAIN=direct-monster-capital.ngrok-free.app
